@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #205e27;
    --branco: white;
    --preto: #100e0e;
    --azul-degrade: linear-gradient (to bottom, rgb(246, 131, 131) 10px, rgb(30, 114, 30));
    --fonte-principal: "Poppins";
    --azul: rgb(34, 80, 34);
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}
