.tópicos {
    padding: 1em 0; }

    

.tópicos__título {
    color: var(--cinza);
    font-weight: 300;
    margin-bottom: 2em;
}

.tópicos__lista {
    display: flex;
    align-items: center;
    
}

.tópicos__item {
    margin: 2em 0.5em;
}

.tópicos__link {
    color: var(--branco);
    background-color: var(--cinza);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

}

.lista-menu__link{
    color: #088C19;
}

@media screen and (min-width:1024px) {
    .tópicos__titulo {
        font-size: 24px;
    }
    .tópicos__link {
        font-size: 20px;
        align-items: center;
    }
    .banner {
       width:100%;
        display: block;
        margin: auto;
 
     

        }
        
        main img.pequena {
            max-width: 350px;
            display: block;
            margin:auto;
        
        }
        .card {
            max-width: 40%;
            display: block;
            margin: auto;
            padding: 10px 10 10 10 ;
        }
    
    }
    .swiper-button-next::after{
        text-decoration: none;
    }

    @media screen and (min-width: 1728px) {
        .tópicos {
            padding: 3em 30vw;
        }
    }
